[program:{{ esme_database_postgres_container_name }}]
process_name={{ esme_database_postgres_container_name }}
command=docker run --name={{ esme_database_postgres_container_name }} --rm -e POSTGRES_PASSWORD={{ esme_database_postgres_password }} -v /dumps:/dumps --net=docker -p 5432:5432 esme_postgres
directory=/var/run
user=root
autostart=true
autorestart=true
startretries=3
redirect_stderr=false
stdout_logfile=/var/log/{{ esme_database_postgres_container_name }}_stdout.log
stderr_logfile=/var/log/{{ esme_database_postgres_container_name }}_stderr.log
stopasgroup=True