[program:{{ esme_database_adminer_container_name }}]
process_name={{ esme_database_adminer_container_name }}
command=docker run --name={{ esme_database_adminer_container_name }} --rm -p"8080:8080" --net=docker esme_adminer
directory=/var/run
user=root
autostart=true
autorestart=true
startretries=3
redirect_stderr=false
stdout_logfile=/var/log/{{ esme_database_adminer_container_name }}_stdout.log
stderr_logfile=/var/log/{{ esme_database_adminer_container_name }}_stderr.log
stopasgroup=True
